name: Publish prerelease to ghcr.io

on:
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0  # Fetch full history for tags

      - name: Fetch latest prerelease tag from GitHub API
        run: |
          echo "PRERELEASE_TAG=$(curl -s https://api.github.com/repos/supermerill/SuperSlicer/releases | \
          jq -r '[.[] | select(.target_commitish == "rc" and .prerelease == true)][0].tag_name')" >> $GITHUB_ENV
          
          if [ -z "$PRERELEASE_TAG" ] || [ "$PRERELEASE_TAG" == "null" ]; then
            echo "ERROR: No valid prerelease tag found!"
            exit 1
          fi

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into registry ${{ env.REGISTRY }}
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push versioned and prerelease Docker images
        id: build-and-push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./dockerfile/prerelease
          push: true
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.PRERELEASE_TAG }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:prerelease

      - name: Verify pushed images
        run: |
          docker pull ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.PRERELEASE_TAG }}
          docker pull ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:prerelease
